    <!-- MENU + CAROUSEL -->
    <section class="menuCarousel">
        <!-- SIDE IMAGE MENU -->
        <aside class="sideImageMenu">
            <a href="https://github.com/rafa600rr" target="blank"><img src="../img/iconMenu/github.png" alt="GitHub"></a>
            <a href="https://www.facebook.com/rafaelvieirapalmital" target="blank"><img src="../img/iconMenu/face.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/RAFA_600RR" target="blank"><img src="../img/iconMenu/insta.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/rafael-vieira-b7061a1b4/"  target="blank"><img src="../img/iconMenu/link.png" alt="LinkDin"></a>
            <a href="/apiSW"><img src="../img/iconMenu/json.png" alt="JSON" target="blank"></a>
        </aside>
    
        <!-- CAROUSEL -->
        <div class="carousel">       
            <div>
                    <img class="imgCarousel imgCarouselVisible" src="../img/banner/banner-1.jpg" alt="">
    
                    <img class="imgCarousel" src="../img/banner/banner-2.jpg" alt="">
    
                    <img class="imgCarousel" src="../img/banner/banner-3.jpg" alt="">
    
                    <img class="imgCarousel" src="../img/banner/banner-4.jpg" alt="">
                
            </div>

            <!-- BUTTONS OF CAROUSEL -->
            <div class="buttonActions">
                <button id="buttonPrev">
                     < 
                </button>

                <button id="buttonNext">
                     > 
                </button>
            </div>
        </div>
    </section>