    <!-- FOOTER -->
    <footer>

        <div>
            <p>RAFAEL VIEIRA | 2020 | Fotos STAR WARS => <a href="http://colorindonuvens.com" target="blank">Colorindo Nuvens</a></p>
        </div>

    </footer>