    <!-- CABEÇALHO -->
    <header>
        <!-- LOGO -->
        <section class="header">
            <div class="logo 
                        col-desktop-3
                        col-tablet-4
                        col-mobile-4">
                <img src="../img/icon/logo.png" alt="Pegasus-dev">
            </div>

            <!-- MAIN MENU -->
            <div class="mainMenu">
                <!-- MENU DESKTOP -->
                <nav class="desktopMenuNav">
                    <a href="/inicio">inicio</a>
                    <a href="/sobre">sobre</a>
                    <a href="/contato">contato</a>
                </nav>
                <!-- MENU MOBILE -->
                <div class="mobileMenu">
                    <input type="checkbox" id="checkboxMenu">

                    <label for="checkboxMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
            </div>
            <!-- MOVEL SIDE MENU -->
            <div class="movelSideMenu">
                    <nav>
                        <a href="/inicio">inicio</a>
                        <a href="/sobre">sobre</a>
                        <a href="/contato">contato</a>
                    </nav>
            </div>
        </section>
    </header>