<main class="mainContent
                     col-desktop-7
                     col-tablet-8
                     col-mobile-12">

            <section>
                <h1>Um pouca da minha história</h1>

                <p>Sou Rafael, vou contar um pouco da minha história na área de TI;
                    Tive o meu primeiro contato em 2012, na época da escola; estava prestes a entrar no enssina médio,
                    em um dos colégios da minha cidade hávia o ensino médio com um curo técnico em informática, coordenado pelo
                    professsor Marcelo, por interesse em conhecer a o curso obtei por esdudar nesta escola.
                    Este curso oferecia uma base para todos os ramos da área de TI, mas me identifiquei bastante na área de programação.
                </p>

                <p>    
                    Em 2016 finalizei o ensino médio, e por falta de oportunidade que minha cidade oferecia na época, obtei por vir
                    trablhar em Balneário Camboriú - SC, em um restaurante que um amigo hávia me indicado, trabalhei la por três anos e meio,   
                    até que chegou um momento que eu ja não estava mais contente com aquele trabalho, e pensando muito lembrei do curso de TI 
                    que hávia feito, apartir desse momento comecei a me dedicar ao desenvolvimento web, acabei conhecendo a Apex ensino, fiz 
                    um curso de Front-end, e desde então estou a cada dia buscando a me aperfeiçaor mais nesta área.
                    Tenho conhecimentos básicos em HTML, CSS, JavaSript, TypeScript, NodeJS, React, Angular e Bootstrap, aassim que eu estiver
                    mais conhecimentos dessas linguagens e ferramentas, tenho interesse ainda em aprender MySql, PHP e JQuery.
                </p>
            </section>
        </main>