<!--  PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <section class="json">
                <h1>gostaria de saber um pouco mais sobre STAR WARS?</h1>
                <h2>Pesquise por ID</h2>

                <!-- TEBELA -->
                <!-- <div class="tabelaListar">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
    
                        <tbody class="tableLister">

                        </tbody>
                    </table>
                </div> -->

                <!-- SEARCH FIELD -->
                <form>
                    <input type="search" placeholder="Pequise aqui..." id="inputPesquisa">
                    <input type="button" value="Pequisar" id="search">
                </form>

                <!-- CARD STAR WARS -->
                <div class="api">
                    <figure>
                        <img src="../img/sistemaSolar/starWars.jpg" id="img">

                        <figcaption>
                                <li id="name">Nome:</li>
                                <li id="heigth">Altura:</li>
                                <li id="hairColor">Cor do cabelo:</li>
                                <li id="skinColor">Cor da pele:</li>
                                <li id="eyeColor">Cor dos olhos:</li>
                                <li id="birthYear">Ano de nascimento:</li>
                                <li id="gender">Gênero:</li>
                                <li id="homeWorld">Planeta natal:</li>
                                <li id="films">Filmes:</li>
                                <!-- <li id="species">Espécies:</li> -->
                                <li id="vehicles">Veículos:</li>
                                <li id="starships">Naves estelares:</li>
                        </figcaption>
                    </figure>
                </div>

                <!-- ADMIN SECTION -->
                <div id="link">
                    <a href="/login">área admin</a>
                </div>
            </section>
        </main>
<script src="../js/carousel.js"></script>