<!--  PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <section class="json">
                <h1>gostaria de saber um pouco mais sobre STAR WARS?</h1>

                <!-- API STAR WARS -->
                <div class="buttonsApi">

                    <button><a href="/swPeople">pessoas</a></button>
                    <button><a href="/swPlanets">planetas</a></button>
                    <button><a href="/swStarship">naves</a></button>
                    <button><a href="/swFilms">filmes</a></button>
                    <button><a href="/swSpecies">espécies</a></button>
                    <button><a href="/swVehicles">veículos</a></button>

                </div>

                <!-- CARD STAR WARS -->
                <div class="api">
                    <figure>

                        <img src="../img/sistemaSolar/starWars.jpg" id="img">

                    </figure>
                </div>

                <!-- ADMIN SECTION -->
                <div id="link">
                    <a href="/login">área admin</a>
                </div>
            </section>
        </main>