    <!-- PAGE BODY -->
<main class="mainContent
                col-desktop-7
                col-tablet-8
                col-mobile-12">
       
        <!-- TOOLS AND LANGUAGES LEARNED -->
        <div class="tools">
            <div class="box1">
                <h1>Ferramentas e linguagens que estou me aperfeiçando.</h1>

                <img src="../img/icon/html.png" alt="HTML">
                <img src="../img/icon/css.png" alt="CSS">
                <img src="../img/icon/javaScript.png" alt="JAVASCRIPT">
                <img src="../img/icon/typescript.png" alt="TYPESCRIPT">
                <img src="../img/icon/node.png" alt="NODE">
                <img src="../img/icon/react.png" alt="REACT">
                <img src="../img/icon/angular.png" alt="ANGULAR">
                <img src="../img/icon/boots.png" alt="BOOTSTRAP">
                <img src="../img/icon/git.png" alt="GIT">
            </div>

            <div class="box2">
                <h1>Linguagens pretendidas futuramente</h1>

                <img src="../img/icon/php.png" alt="PHP">
                <img src="../img/icon/jquery.png" alt="Jquery">
                <img src="../img/icon/mysql.png" alt="MYSQL">
            </div>
        </div>

    <!-- SECTION ON -->
    <section class="sectionOn">
        <!-- <h1>sobre esta pagina</h1>

        <p> Esta página tem o intuito de mostrar meu trabalho como desenvlovedor Front-End,
            ainda estou em processo de aprendizado e ganhando experiência.</p>
            
        <p> Ela esta desenvolvida em Node, porém como estou me aperfeiçondo em React e Angular,
            eu desenvolvi também utilizabdo essas Fremework, também está em HTML, CSS e JavaScript puro. 
            É um projeto simples, mas visa colocar em prática o conhececimento que esstou adquirindo.
            É uma página totalmente responssiva; na versão Desktop a página principal (Inicio), conta com um menu lateral de imagens,
            um menu principal para navegar dentro da própria página possui um carrossel de imagens,
            abaixo algumas imagens, mostrando as linguagens e ferramentas que estou me aperfeiçoando, um pequeno texto, e um rodapé.
            Na versão Mobile, o menu de imagens lateral concentra-se no topo, e o menu principal fica encondido, 
            utilizando o CSS e JavaScript, e continua com o carrossel de imagens e o Rodapé.</p>
                        
        <p> No menu lateral possui, um link de uma API, para mostrar um pouco do meu conhecimento sobre a manipulção
            da mesma, o tema escolhido é STAR WARS.</p> -->

            <!-- LINKS OF PROJECTS ON GITHUB -->
            <div class="github">
                <h2>Aqui está o links do GITHUB das outras Frameworks</h2>

                <li><a href="https://github.com/rafa600rr/pegasusDevHtmlCssJs" target="blank">HTML CSS JS</a></li>
                <li><a href="https://github.com/rafa600rr/pegasusDevNodeJs" target="blank">Node</a></li>
                {{!-- <li><a href="#">React</a></li>
                <li><a href="#">Angular</a></li> --}}
                {{!-- <li><a href="#">Bootstrap</a></li> --}}
            </div>
    </section>
</main>
<script src="../js/carousel.js"></script>