<!-- PAGE BODY -->
        <main class="mainContent
                    col-desktop-7
                    col-tablet-8
                    col-mobile-12">

            <!-- LOGIN SECTION -->
            <section class="login">
                <h1>login - admin</h1>
                <h4 id="h4"></h4>

                <form action="/registerAPI" onsubmit="return login()">
                    <input type="text" placeholder="ID de usuário" id="idUser">
                    <input type="password" placeholder="Senha" id="pass" autocomplete="off">

                    <input type="submit" value="Logar">
                </form>
            </section>
        </main>
<script src="../js/carousel.js"></script>